<h1 id="naslov">Hiter inženiring: Učenje s pomočjo chatGPT</h1>
<div class="container">
  <div id="python" class="row-item">
    <form>
      <label for="yourcode"></label>
      <textarea id="yourcode" cols="40" rows="25">print("Hello World")</textarea><br />
      <button type="button" onclick="runit()">Run</button>
      <button type="button" onclick="stop()">Stop</button>
    </form>
  </div>
  <div class="output-div row-item">
    <p>Output:</p>
    <pre id="output" ></pre>
  </div>
</div>

<!-- If you want turtle graphics include a canvas -->
<!--<canvas id="mycanvas" width="200" height="200"></canvas>-->

